.App {
  font-family: sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(
    335.3deg,
    #131b2e 13.93%,
    #2c3a5c 57.29%,
    #1d2f54 99.76%
  );
}

.dial {
  position: relative;
  height: 250px;
  width: 250px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gradient-outline {
  position: absolute;
  width: 100%;
  inset: 0;
  transform: rotateY(-180deg) rotate(-50deg);
}

.outer-circle {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  height: 150px;
  width: 150px;
  /* background: #eee; */
}

.inner-circle {
  border-radius: 50%;
  height: 40px;
  width: 40px;
  background: gray;
  position: relative;
  transition: all 1s;
}

.needle {
  position: absolute;
  top: 50%;
  left: 90%;
  width: 70px;
  transform: translateY(-50%);
}

.credit-input {
  margin-top: 50px;
  display: flex;
}

.credit-input input {
  padding: 4px;
}

.credit-input small {
  display: block;
}

.credit-input label {
  color: white;
  margin-right: 16px;
}

.checkBtn {
  padding: 4px 8px;
  margin-top: 16px;
}
